/* @font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-Black.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} */


/* https://css-tricks.com/elegant-fix-jumping-scrollbar-issue/ - чтобы меню не дергалось */

html {
    scroll-behavior: smooth;
    /* overflow-y: scroll;
    margin-left: calc(100vw - 100%); */
}

body {
    font-family: sans-serif;
}

a:hover {
    text-decoration: none;
}


/*  background-image: linear-gradient(to right bottom, rgba(5, 210, 242, 0.329), rgba(5, 37, 242, 0.39)), url(img/bg_teacher.jpg);*/


/* background-image: linear-gradient(to right bottom, rgba(94, 44, 211, 0.9), rgba(197, 174, 246, 0.9)), url(img/bg_teacher.jpg); годно*/

.header {
    height: 90vh;
    background-image: linear-gradient(to right bottom, rgba(94, 44, 211, 0.9), rgba(244, 184, 194, 0.9)), url(img/bg_teacher.jpg);
    background-size: cover;
    background-position: top;
    /*we can see always the bottom side of the picture when we change the brouser size*/
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.navbar {
    background-color: rgb(243, 222, 225) !important;
}

#nav--btn {
    margin: 0;
    padding: .5rem;
    border-radius: .2rem;
}

.modal--img {
    max-width: 760px;
    align-self: center;
}

@media screen and (max-width: 991px) {
    .modal--img {
        width: 28rem;
        align-self: center;
    }
}

.carousel-inner {
    width: 100%;
    /* height: 33rem !important; */
}

.reviews--photos {
    margin-right: 30px;
    height: 12rem;
    border-radius: 5px;
    float: left;
}

.about--photo {
    width: 100%;
    border-radius: 5px;
}

.ege {
    color: #F2507B;
}

.navbar-light {
    font-weight: 700;
}

.header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.header__logo {
    height: 2.5rem;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    backface-visibility: hidden;
    margin-top: 3rem;
}

.heading-primary-main {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .5rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

#about--list {
    list-style: none;
}

#about--list li {
    font-size: 1.2rem;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: -2em;
}

#about--list li::before {
    content: "\2689";
    color: #F2507B;
    display: inline-block;
    width: 2em;
}

#try__lesson--list li {
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 1em;
}

#try__lesson--list li::before {
    content: "\2689";
    color: #F2507B;
    display: inline-block;
    width: 2rem;
}

.red__dot__list li {
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.red__dot__list li::before {
    content: "\2689";
    color: #F2507B;
    display: inline-block;
    width: 2rem;
}

@keyframes moveInLeft {
    /*применяется в анимации h1*/
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    /*применяется в анимации h1*/
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.contacts-mail,
.contacts-phone {
    width: max-content !important;
}

.btn--submit {
    align-self: center !important;
}

.btn:link,
.btn:visited {
    /* чтобы текст в кнопке не переносился на новую линию */
    width: max-content;
    text-transform: uppercase;
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none;
    padding: 1.2rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.2rem;
    /* background-color: #F2507B; */
    background-image: linear-gradient(#F2507B, #d1355f);
    color: rgb(255, 255, 255);
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1) !important;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1) !important;
}

.btn--white {
    background-color: #fff;
    color: #777;
}