* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 640px) {
    html {
        font-size: 75%;
    }
}

body {
    font-family: sans-serif;
}

a:hover {
    text-decoration: none;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(94, 44, 211, 0.9), rgba(244, 184, 194, 0.9)), url(img/bg_teacher.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}

.navbar {
    background-color: rgb(243, 222, 225) !important;
}

#nav--btn {
    margin: 0;
    padding: .5rem;
    border-radius: .2rem;
    text-transform: capitalize;
    font-weight: 400;
}

.modal--img {
    max-width: 760px;
    align-self: center;
}

@media screen and (max-width: 991px) {
    .modal--img {
        width: 28rem;
        align-self: center;
    }

    /*html 374 card-text font-italic mr-5 text-justify */


}
@media screen and (min-width: 992px){
    .my__review--card {
        margin-right: 6rem !important;
    }
}

.carousel-inner {
    width: 100%;
}

.reviews--photos {
    margin-right: 30px;
    height: 12rem;
    border-radius: 5px;
    float: left;
}

.about--photo {
    width: 100%;
    border-radius: 5px;
}

.ege {
    color: #F2507B;
}

.navbar-light {
    font-weight: 700;
}

.vscrolling_container {
    height: 100%;
    overflow: auto;
}

.header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.header__logo {
    height: 2.5rem;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    backface-visibility: hidden;
    margin-top: 3rem;
}

.heading-primary-main {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .5rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.red__dot__list li {
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.red__dot__list li::before {
    content: "\2689";
    color: #F2507B;
    display: inline-block;
    width: 2rem;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.contacts-mail,
.contacts-phone {
    width: max-content !important;
}

.btn--rounded--submit {
    align-self: center !important;
}

.btn--rounded:link,
.btn--rounded:visited {
    width: max-content;
    text-transform: uppercase;
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none;
    padding: 1.2rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.2rem;
    background-image: linear-gradient(#F2507B, #d1355f);
    color: rgb(255, 255, 255);
}

.btn--rounded:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1) !important;
}

.btn--rounded:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1) !important;
}

.btn--rounded--white {
    background-color: #fff;
    color: #777;
}

#success__msg {
    background-color: rgba(127, 255, 212, 0.25);
    color: #333;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    border-radius: .5rem;
}

#error__msg {
    background-color: rgba(255, 159, 170, 0.25);
    color: #333;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    border-radius: .5rem;
}

.hidden__element {
    display: none;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23BDBDBD' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


